<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Dashboard</title>


</head>

<body>
    <header class="header">
        <h1>Super Bicho</h1>
        <div>
            <i>img</i> <span class="font-bold">Nome Usuário</span>
        </div>
    </header>
    <div class="side-menu">
        <nav>
            <ul>
                <li>
                    <a href="dashboard.html" class="btn-menu font-bold">Dashboard</a>
                </li>
                <li>
                    <a href="servirços.html" class="btn-menu font-bold">Serviços</a>
                </li>
                <li>
                    <a href="clientes.html" class="btn-menu font-bold">Clientes</a>
                </li>
                <li>
                    <a href="usuario.html" class="btn-menu font-bold">Usuário</a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="content-menu">
        <div class="principal">
            <h1>Lista de Usuários</h1>

            <form class="form-cad">
                <h1>Cadastro usuário</h1>
                <div class="div-form">
                    <label for="cpf_user">CPF: </label>
                    <input type="text" id="cpf_user" placeholder="000.000.000-00" required></br>
                </div>

                <div class="div-form">
                    <label for="nome_user">Nome: </label>
                    <input type="text" id="nome_user" placeholder="Informe seu nome" required></br>
                </div>

                <div class="div-form">
                    <label for="tel_user">Telefone: </label>
                    <input type="text" id="tel_user" placeholder="(99) 99999-9999" required></br>
                </div>

                <div class="div-form">
                    <label for="email_user">Email: </label>
                    <input type="endemail" id="email_user" placeholder="Informe seu email" required></br>
                </div>

                <div class="div-form">
                    <label for="senha_user">Senha: </label>
                    <input type="password" id="senha_user" placeholder="******************" required></br>
                </div>

                <div class="div-form">
                    <label for="tipo_user">Tipo de usuário: </label>
                    <input type="text" id="tipo_user" placeholder="Informe seu nome" required></br>
                </div>

                <div>
                    <label for="end_user">Endereço: </label>
                    <input type="text" id="end_user" placeholder="Seu endereço" required></br>
                </div>

                <div class="buttons">
                    <div>
                        <button class="btnSalvar">Salvar</button>
                    </div>
                    <div>

                        <button class="btnCancelar">Cancelar</button>
                    </div>

                </div>

            </form>
        </div>
        </div>
    </main>
</body>

</html>