<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Dashboard</title>


</head>

<body>
    <header class="header">
        <h1>Super Bicho</h1>
        <div>
            <i>img</i> <span class="font-bold">Nome Usuário</span>
        </div>
    </header>
    <div class="side-menu">
        <nav>
            <ul>
                <li>
                    <a href="dashboard.html" class="btn-menu font-bold">Dashboard</a>
                </li>
                <li>
                    <a href="servirços.html" class="btn-menu font-bold">Serviços</a>
                </li>
                <li>
                    <a href="clientes.html" class="btn-menu font-bold">Clientes</a>
                </li>
                <li>
                    <a href="usuario.html" class="btn-menu font-bold">Usuário</a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="content-menu">
        <div class="principal">
            <h1>Lista de Clientes</h1>
            <hr>
            <div>
                <button class="btn btn-add">+</button>
            </div>
            <div class="busca">
                <input id="input-busca" type="text" class="form-control mt-3 mb-3" placeholder="Pesquisar">
                <button class="btn btn-pesquisar"><img src="../../static/img/pesquisar.png"></button>
            </div>

            <table>
                <thead class="table-dark">
                    <tr>
                        <th>#ID</th>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela-clientes">
                    <tr>
                        <td>1</td>
                        <td>000.000.000-00</td>
                        <td>Cliente Cliente Cliente</td>
                        <td>(99)99999-9999</td>
                        <td>
                            <button class="btn btn-ver"><img src="../../static/img/visualizar.png"></button>
                            <button class="btn btn-editar"><img src="../../static/img/editar.png"></button>
                            <button class="btn btn-excluir"><img src="../../static/img/excluir.png"></button>
                        </td>
                    </tr>
                    <tr>
                        <tr>
                            <td>2</td>
                            <td>000.000.000-00</td>
                            <td>Cliente Cliente Cliente</td>
                            <td>(99)99999-9999</td>
                            <td>
                                <button class="btn btn-ver"><img src="../../static/img/visualizar.png"></button>
                                <button class="btn btn-editar"><img src="../../static/img/editar.png"></button>
                                <button class="btn btn-excluir"><img src="../../static/img/excluir.png"></button>
                            </td>
                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </main>
</body>

</html>